.watchdiv {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.watchinput {
    height: 50px;
    width: 300px;
}